<div class="candidate-list">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Constituency</th>
                <th>Income Range</th>
            </tr>
        </thead>
        <tbody>
            <tr class="candidate-row" *ngFor="let candidate of candidates" (click)="openCandidateDetails(candidate)">
                <td>
                    {{candidate.name}}
                </td>
                <td>
                    {{candidate.age}}
                </td>
                <td>
                    {{candidate.constituency}}
                </td>
                <td>
                    {{candidate.income}}
                </td>
            </tr>
        </tbody>

    </table>
</div>