<div class="app-landing d-flex flex-column">
    <div class="d-flex login-container">
        <button *ngIf="userName" class="btn btn-primary" (click)="addCandidateHandler()">Add Candidate</button>
        <button *ngIf="!userName" class="ml-auto btn btn-primary" (click)="loginHandler()">Login</button>
        <div *ngIf="userName" class="ml-auto">
        <span>Hi {{userName}}</span>
        <button class="btn btn-primary" (click)="logoutHandler()">Logout</button>
    </div>
    </div>
    <div class="adv-search mb-5 d-flex flex-column align-items-center">
        <header>
            <label class="h5">Advance Candidate Search</label>
        </header>
        <section class="form-fields d-flex flex-column">
            <div class="field name-field d-flex form-group">
                <label class="name-label">Name </label>
                <input class="ml-auto form-control-sm" type="text" [(ngModel)]="candidateModel.name" placeholder="Candidate Name" />
            </div>
            <div class="field age-field d-flex mt-2 form-group">
                <label class="age-label">Age</label>
                <input class="ml-auto form-control-sm" type="number" [(ngModel)]="candidateModel.age" placeholder="Candidate Age" />
            </div>
            <div class="field constituency-field d-flex mt-2 form-group">
                <label class="constituency-label">Constituency </label>
                <input class="ml-auto form-control-sm" type="text" [(ngModel)]="candidateModel.constituency"
                    placeholder="Candidate Constituency" />
            </div>
            <div class="field d-flex mt-2 form-group">
                <label class="income-range">Income Range Greater than</label>
                <select class="income-range-field ml-auto form-control-sm" (change)="handleChange($event)">
                    <option *ngFor="let range of availableRanges" [value]="range.value">{{range.key}}</option>
                </select>
            </div>
        </section>
        <footer class="d-flex mt-2">
            <button class="apply-btn btn btn-primary mr-1" (click)="onApply()">Apply</button>
            <button class="reset-btn btn btn-secondary" (click)="onReset()">Reset</button>
        </footer>
    </div>
    <div>
        <div>{{errorMessage}}</div>
        <app-candidate-list  class="list-comp" *ngIf="searchedCandidates.length && !resetValue && !errorMessage" [userName]="userName" [candidates]="searchedCandidates" ></app-candidate-list>
    </div>


</div>