<div class="toast" style="position: absolute; top: 0; right: 0; opacity: 1;" role="alert" aria-live="assertive" aria-atomic="true">
   <div class="toast-header">
    <button type="button" class="ml-auto     mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
      <div class="toast-body">
        <ng-content></ng-content>
    </div>
  </div>
  