<div class="d-flex flex-column align-items-center">
    <label class="h5">Login to your Account</label>
<div class="login-form shadow-lg bg-light d-flex flex-column align-items-center">
<label class="h6 mt-4">Sign In</label>    
    <div class="d-flex mt-2 mb-4 form-group field username">
        <label>User Name</label>
        <input class="form-control-sm ml-auto" type="text" [(ngModel)]="userName" placeholder="Enter"/>
    </div>
    <div class="d-flex password mb-4 field form-group">
        <label>Password</label>
        <input class="form-control-sm ml-auto" type="password" [(ngModel)]="password"/>
    </div>
    <div class="d-flex align-items-center sign-in">
        <button class="btn btn-primary" (click)="signInUser()">Sign In</button>
        <button class="ml-3 btn btn-secondary" (click)="backClickHandler()">Back</button>
    </div>
</div>
</div>