<div *ngIf="userName" class="ml-auto">
    <span>Hi {{userName}}</span>
    <button class="btn btn-primary" (click)="logoutHandler()">Logout</button>
</div>
<div class="candidate-details d-flex flex-column  align-items-center">

    <label>Candidate Details</label>
    <div class="detail-container">
    <div class="name d-flex form-group">
        <label class="required">Name</label>
        <input required (ngModelChange)="handleChangeField('name')" class="form-control-sm ml-auto" [disabled]="disabled" type="text" [(ngModel)]="candidate.name" />
    </div>
    <div class="gender d-flex form-group">
        <label class="required">Gender</label>
        <input required (ngModelChange)="handleChangeField('gender')" class="form-control-sm ml-auto" [disabled]="disabled" type="text" [(ngModel)]="candidate.gender" />
    </div>
    <div class="age d-flex form-group">
        <label class="required">Age</label>
        <input required (ngModelChange)="handleChangeField('age')" class="form-control-sm ml-auto" [disabled]="disabled" type="number" [(ngModel)]="candidate.age" />
    </div>
    <div class="bio d-flex form-group">
        <label class="required">Bio</label>
        <textarea required (ngModelChange)="handleChangeField('bio')" class="income-range-field form-control-sm ml-auto" [(ngModel)] ="candidate.bio" [disabled]="disabled" type="t"></textarea>

    </div>
    <div class="driminal-case d-flex form-group">
        <label class="required">Criminal Case</label>
        <textarea required [disabled]="disabled" type="t"
            class="income-range-field form-control-sm ml-auto"
            [(ngModel)] ="candidate.criminalRecord"
            (ngModelChange)="handleChangeField('crime')"></textarea>
    </div>
    <div class="field d-flex mt-2 form-group">
        <label class="required income-range">Income Range Greater than</label>
        <select required [disabled]="disabled" class="income-range-field ml-auto form-control-sm" (change)="handleChange($event)">
            <option *ngFor="let range of availableRanges" [selected]="range.value === candidate.income" [value]="range.value">{{range.key}}</option>
        </select>
    </div>
</div>
<div class="d-flex">
    <button *ngIf="userName" [disabled]="disableSubmit" class="btn btn-primary" (click)="createCandidateHandeler()">Submit</button>
    <button class="ml-3 btn btn-secondary" (click)="backClickHandler()">Back</button>
</div>

</div>
<div *ngIf="showToast">
    <app-toast>
        Candidate Added Successfully
    </app-toast>
</div>